{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "google", "@lemueldls"],
  "rules": {
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],

    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-restricted-syntax": "off",
    "no-plusplus": "off"
  },
  "ignorePatterns": ["dist"]
}
