{
  "root": true,
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "google", "@lemueldls"],
  "rules": {
    "import/extensions": ["error", "never"],

    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "no-plusplus": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["dist"]
}
